.homepage-container {
  min-height: 100vh;
}

.carousel-item img {
  max-height: 400px;
  object-fit: contain;
}
.text-center {
  color: #8b8b8b;
}
.carousel-text {
  font-size: 2.5rem;
  font-style: oblique;
  color: #080808;
  text-shadow: 4px 1px 2px rgba(255, 255, 255, 5);
}
